

.houseList {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 99;



    .list {
        // margin-top: -90px;
        padding-top: 45px;
        padding-bottom: 50px;

        .loadingBar {
            padding: 0 10px 10px 10px;
            height: 110px;
            width: 100%;

            .inner {
                width: 100%;
                height: 100%;
                background-color: #f6f5f6;
                border-radius: 5px;
                line-height: 110px;
                text-align: center;
                color: rgba(0, 0, 0, 0.2);
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}


.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    animation-delay: .1s;
    animation: hi .3s .3s forwards;
}

@keyframes hi {
    from {
        visibility: hidden;
    }

    to {
        visibility: hidden;
    }
}

.pickerWrapper {
    transition: .3s ease-in-out;
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 90px;


    .pickerBox {
        width: 100%;
        height: 50%;
        background-color: #ffffff;
        position: relative;
        padding-bottom: 50px;

        .picker {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;


            :global {
                .am-picker-col-item {
                    font-size: 14px !important;
                }
            }
        }

        .controllBtn {
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;

            .cancel {
                text-align: center;
                line-height: 50px;
                flex: 1;
                color: #21b97a;
            }

            .comfirm {
                text-align: center;
                line-height: 50px;
                flex: 2;
                color: #ffffff;
                background-color: #21b97a;
            }
        }
    }
}

// }




.topBar {
    height: 45px;
    padding: 5.5px 0px;
    background-color: #f6f5f6;
    z-index: 99;
    position: absolute;
    width: 100%;


    .searchBox {
        width: 100%;
        z-index: 10;
        left: 50%;
        padding: 0 10px;

        :global {
            .icon-back {
                font-size: 16px !important;
            }
        }

        .searchLeft {
            background-color: #fff;
            width: 100%;
            margin: 0 10px;
            border-radius: 3px;
            height: 34px;
            padding: 5px 5px 5px 8px;
            line-height: 34px;

            .location {
                span {
                    font-size: 13px;
                    margin-right: 5px;
                }

                :global {
                    .icon-arrow {
                        font-size: 12px !important;
                    }
                }
            }

            .searchForm {
                border-left: 1px solid #e5e5e5;
                height: 16px;
                line-height: 16px;
                padding-left: 10px;
                margin-left: 10px;

                :global {
                    .icon-seach {
                        font-size: 12px !important;
                        margin-right: 4px;
                        color: #999;
                    }
                }

                span {
                    font-size: 13px;
                    color: #999;
                }
            }
        }

        :global {
            .icon-map {
                color: #21b97a;
                font-size: 25px;
            }
        }

    }
}